Repository moveit/moveit, changes with the owners that CODEOWNERS names for each.
All owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, gm130s@gmail.com, mathias.luedtke@ipa.fraunhofer.de, rhaschke@techfak.uni-bielefeld.de, imcmahon01@gmail.com, 130s@2000.jukuin.keio.ac.jp, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, jon.binney@gmail.com, chitt@live.in, raghavendersahdev@gmail.com

CODEOWNERS:

# This is a comment.
# Each line in this file is a file pattern followed by one or more
# @github_usernames and/or e-mail addresses corresponding to users with write
# permissions for the repository.
# https://help.github.com/en/articles/about-code-owners

# Order is important; the user(s) in the last matching pattern here for a file will
# be that file's owner(s).

# The users below will be the default owners for everything in the repository.
# Unless a line further in this file matches, all of the users here will be
# requested for review when someone opens a pull request.
*	dave@picknik.ai me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

# The lines below correspond to directories with a package.xml file and the
# maintainers specified in that file

/moveit_runtime/	gm130s@gmail.com

/moveit_plugins/moveit_plugins/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_ros_control_interface/	mathias.luedtke@ipa.fraunhofer.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_fake_controller_manager/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_simple_controller_manager/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_controller_manager_example/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_core/	dave@picknik.ai me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_commander/	me@v4hn.de rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit/	dave@picknik.ai mferguson@fetchrobotics.com me@v4hn.de rhaschke@techfak.uni-bielefeld.de imcmahon01@gmail.com 130s@2000.jukuin.keio.ac.jp

/moveit_kinematics/	dave@picknik.ai g.a.vanderhoorn@tudelft.nl jorge.nicho@swri.org moveit_releasers@googlegroups.com

/moveit_experimental/	moveit_releasers@googlegroups.com

/moveit_ros/perception/	mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/manipulation/	me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/benchmarks/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_ros/moveit_ros/	mferguson@fetchrobotics.com me@v4hn.de dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_ros/planning_interface/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/robot_interaction/	mferguson@fetchrobotics.com rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit_ros/planning/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/warehouse/	mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/move_group/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/visualization/	jon.binney@gmail.com mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_setup_assistant/	dave@picknik.ai rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit_planners/ompl/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/moveit_planners/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_interface/	chitt@live.in dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_optimizer_adapter/	raghavendersahdev@gmail.com moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_motion_planner/	chitt@live.in moveit_releasers@googlegroups.com

Switch to master branch
  README.md
  moveit.rosinstall
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Made FCL a Plugin, so we can actually switch between checkers now.
  moveit_core/collision_detection_fcl/CMakeLists.txt
  moveit_core/collision_detection_fcl/include/moveit/collision_detection_fcl/collision_detector_fcl_plugin_loader.h
  moveit_core/collision_detection_fcl/src/collision_detector_fcl_plugin_loader.cpp
  moveit_core/collision_detector_fcl_description.xml
  moveit_core/package.xml
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

clang format
  moveit_core/collision_detection_fcl/src/collision_detector_fcl_plugin_loader.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

MSA: re-add missing build dependencies
  moveit_setup_assistant/package.xml
Owners: dave@picknik.ai, rhaschke@techfak.uni-bielefeld.de, moveit_releasers@googlegroups.com

remove catkin_lint suppressions
  moveit_core/CMakeLists.txt
  moveit_kinematics/cached_ik_kinematics_plugin/CMakeLists.txt
  moveit_planners/chomp/chomp_interface/CMakeLists.txt
  moveit_ros/planning_interface/CMakeLists.txt
  moveit_ros/visualization/motion_planning_rviz_plugin/CMakeLists.txt
  moveit_ros/visualization/rviz_plugin_render_tools/CMakeLists.txt
  moveit_ros/visualization/trajectory_rviz_plugin/CMakeLists.txt
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, chitt@live.in, jon.binney@gmail.com

MSA: re-add required build dependencies (#1373)
  moveit_setup_assistant/package.xml
Owners: dave@picknik.ai, rhaschke@techfak.uni-bielefeld.de, moveit_releasers@googlegroups.com

remove catkin_lint suppressions (#1374)
  moveit_core/CMakeLists.txt
  moveit_kinematics/cached_ik_kinematics_plugin/CMakeLists.txt
  moveit_planners/chomp/chomp_interface/CMakeLists.txt
  moveit_ros/planning_interface/CMakeLists.txt
  moveit_ros/visualization/motion_planning_rviz_plugin/CMakeLists.txt
  moveit_ros/visualization/rviz_plugin_render_tools/CMakeLists.txt
  moveit_ros/visualization/trajectory_rviz_plugin/CMakeLists.txt
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, chitt@live.in, jon.binney@gmail.com

python PlanningSceneInterface.add_cylinder() (#1372)
  moveit_commander/src/moveit_commander/planning_scene_interface.py
Owners: me@v4hn.de, rhaschke@techfak.uni-bielefeld.de, moveit_releasers@googlegroups.com

some more const references
  moveit_core/collision_distance_field/include/moveit/collision_distance_field/collision_common_distance_field.h
  moveit_core/collision_distance_field/src/collision_common_distance_field.cpp
  moveit_ros/visualization/rviz_plugin_render_tools/include/moveit/rviz_plugin_render_tools/trajectory_visualization.h
  moveit_ros/visualization/rviz_plugin_render_tools/src/trajectory_visualization.cpp
  moveit_setup_assistant/include/moveit/setup_assistant/tools/moveit_config_data.h
  moveit_setup_assistant/src/tools/moveit_config_data.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, jon.binney@gmail.com, rhaschke@techfak.uni-bielefeld.de

remove clang-tidy exceptions
  moveit_core/collision_detection/include/moveit/collision_detection/collision_robot.h
  moveit_core/collision_detection/src/collision_robot.cpp
  moveit_kinematics/srv_kinematics_plugin/src/srv_kinematics_plugin.cpp
  moveit_planners/ompl/ompl_interface/src/constraints_library.cpp
  moveit_planners/ompl/ompl_interface/src/model_based_planning_context.cpp
  moveit_planners/ompl/ompl_interface/src/parameterization/work_space/pose_model_state_space.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org

performance-inefficient-vector-operation
  moveit_kinematics/test/test_kinematics_plugin.cpp
  moveit_planners/chomp/chomp_motion_planner/src/chomp_optimizer.cpp
  moveit_plugins/moveit_fake_controller_manager/src/moveit_fake_controller_manager.cpp
  moveit_ros/benchmarks/src/BenchmarkOptions.cpp
  moveit_setup_assistant/src/widgets/double_list_widget.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com, chitt@live.in, me@v4hn.de, rhaschke@techfak.uni-bielefeld.de

use empty() instead of !size()
  moveit_setup_assistant/src/widgets/double_list_widget.cpp
  moveit_setup_assistant/src/widgets/end_effectors_widget.cpp
  moveit_setup_assistant/src/widgets/robot_poses_widget.cpp
  moveit_setup_assistant/src/widgets/ros_controllers_widget.cpp
  moveit_setup_assistant/src/widgets/virtual_joints_widget.cpp
Owners: dave@picknik.ai, rhaschke@techfak.uni-bielefeld.de, moveit_releasers@googlegroups.com

use moveit_setup_assistant as namespace for MSA widgets
  moveit_setup_assistant/src/widgets/controller_edit_widget.cpp
  moveit_setup_assistant/src/widgets/controller_edit_widget.h
  moveit_setup_assistant/src/widgets/ros_controllers_widget.cpp
  moveit_setup_assistant/src/widgets/ros_controllers_widget.h
  moveit_setup_assistant/src/widgets/setup_assistant_widget.cpp
  moveit_setup_assistant/src/widgets/setup_assistant_widget.h
Owners: dave@picknik.ai, rhaschke@techfak.uni-bielefeld.de, moveit_releasers@googlegroups.com

performance-unnecessary-copy-initialization
  moveit_core/collision_distance_field/src/collision_world_distance_field.cpp
  moveit_core/collision_distance_field/src/collision_world_hybrid.cpp
  moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp
  moveit_ros/warehouse/warehouse/src/constraints_storage.cpp
  moveit_ros/warehouse/warehouse/src/moveit_message_storage.cpp
  moveit_ros/warehouse/warehouse/src/planning_scene_storage.cpp
  moveit_ros/warehouse/warehouse/src/planning_scene_world_storage.cpp
  moveit_ros/warehouse/warehouse/src/state_storage.cpp
  moveit_ros/warehouse/warehouse/src/trajectory_constraints_storage.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

remove readability-identifier-naming check
  .clang-tidy
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

readability-container-size-empty
  moveit_core/utils/src/robot_model_test_utils.cpp
  moveit_ros/planning/collision_plugin_loader/src/collision_plugin_loader.cpp
  moveit_ros/warehouse/warehouse/src/planning_scene_storage.cpp
  moveit_setup_assistant/src/widgets/configuration_files_widget.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, rhaschke@techfak.uni-bielefeld.de

Clarify release branch policy
  README.md
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Switch to master branch (#1369)
  README.md
  moveit.rosinstall
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

fix segfault
  moveit_planners/chomp/chomp_optimizer_adapter/src/chomp_optimizer_adapter.cpp
Owners: raghavendersahdev@gmail.com, moveit_releasers@googlegroups.com

Document release in MIGRATION.md
  MIGRATION.md
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

fix segfault in chomp adapter (#1377)
  moveit_planners/chomp/chomp_optimizer_adapter/src/chomp_optimizer_adapter.cpp
Owners: raghavendersahdev@gmail.com, moveit_releasers@googlegroups.com

fix uninitialized variables
  moveit_kinematics/cached_ik_kinematics_plugin/include/moveit/cached_ik_kinematics_plugin/detail/GreedyKCenters.h
  moveit_kinematics/cached_ik_kinematics_plugin/src/measure_ik_call_cost.cpp
  moveit_ros/perception/semantic_world/src/semantic_world.cpp
  moveit_ros/warehouse/warehouse/src/import_from_text.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com, mferguson@fetchrobotics.com

fix unused variables
  moveit_kinematics/cached_ik_kinematics_plugin/src/measure_ik_call_cost.cpp
  moveit_kinematics/kdl_kinematics_plugin/src/chainiksolver_vel_mimic_svd.cpp
  moveit_planners/chomp/chomp_motion_planner/src/chomp_optimizer.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com, chitt@live.in

Reduce spurious unittest failures due to randomness
  moveit_kinematics/test/test_kinematics_plugin.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com

fix initialization order
  moveit_planners/chomp/chomp_motion_planner/include/chomp_motion_planner/multivariate_gaussian.h
Owners: chitt@live.in, moveit_releasers@googlegroups.com

fix unsigned / signed comparison issues
  moveit_kinematics/test/test_kinematics_plugin.cpp
  moveit_plugins/moveit_simple_controller_manager/src/follow_joint_trajectory_controller_handle.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com, mferguson@fetchrobotics.com, me@v4hn.de

remove unused capture variable
  moveit_kinematics/cached_ik_kinematics_plugin/src/ik_cache.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com

fix mismatching class/struct declarations
  moveit_planners/ompl/ompl_interface/include/moveit/ompl_interface/planning_context_manager.h
  moveit_ros/manipulation/pick_place/include/moveit/pick_place/manipulation_plan.h
  moveit_ros/move_group/include/moveit/move_group/move_group_context.h
  moveit_ros/planning/planning_scene_monitor/include/moveit/planning_scene_monitor/planning_scene_monitor.h
  moveit_ros/robot_interaction/include/moveit/robot_interaction/interaction_handler.h
Owners: dave@picknik.ai, moveit_releasers@googlegroups.com, me@v4hn.de, mferguson@fetchrobotics.com, rhaschke@techfak.uni-bielefeld.de

Travis: consider more warnings (-Wall -Wextra ...)
  .travis.yml
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

add suggested parentheses
  moveit_kinematics/test/test_kinematics_plugin.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com

provide default destructor for polymorphic base class
  moveit_ros/perception/mesh_filter/include/moveit/mesh_filter/filter_job.h
Owners: mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

remove unneccessary const specifier
  moveit_kinematics/ikfast_kinematics_plugin/templates/ikfast.h
  moveit_ros/perception/mesh_filter/include/moveit/mesh_filter/gl_renderer.h
  moveit_ros/perception/mesh_filter/src/gl_renderer.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com, mferguson@fetchrobotics.com

remove unused member variable
  moveit_planners/ompl/ompl_interface/include/moveit/ompl_interface/detail/projection_evaluators.h
  moveit_planners/ompl/ompl_interface/src/detail/projection_evaluators.cpp
Owners: dave@picknik.ai, moveit_releasers@googlegroups.com

Compute joint acceleration values
  moveit_core/trajectory_processing/include/moveit/trajectory_processing/time_optimal_trajectory_generation.h
  moveit_core/trajectory_processing/src/time_optimal_trajectory_generation.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Wrap TOTG in class and use smart pointer for memory management
  moveit_core/trajectory_processing/include/moveit/trajectory_processing/time_optimal_trajectory_generation.h
  moveit_core/trajectory_processing/src/time_optimal_trajectory_generation.cpp
  moveit_ros/planning/planning_request_adapter_plugins/src/add_time_optimal_parameterization.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Updating the integration test.
  moveit_experimental/jog_arm/CMakeLists.txt
  moveit_experimental/jog_arm/test/arm_setup/config/jog_settings.yaml
  moveit_experimental/jog_arm/test/arm_setup/launch/fake_moveit_controller_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/move_group.launch
  moveit_experimental/jog_arm/test/arm_setup/launch/ompl_planning_pipeline.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/planning_context.launch
  moveit_experimental/jog_arm/test/arm_setup/launch/planning_pipeline.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/sensor_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/six_dof_arm_moveit_controller_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/trajectory_execution.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/urdf/test_six_dof_arm.xacro
  moveit_experimental/jog_arm/test/arm_setup/urdf/test_six_dof_arm_macro.xacro
  moveit_experimental/jog_arm/test/integration/test_jog_arm_integration.py
  moveit_experimental/jog_arm/test/launch/integration_test.launch
  moveit_experimental/jog_arm/test/launch/jog_arm_integration_test.launch
  moveit_experimental/package.xml
Owners: moveit_releasers@googlegroups.com

Longer test timeouts.
  moveit_experimental/jog_arm/test/integration/test_jog_arm_integration.py
Owners: moveit_releasers@googlegroups.com

Move isValidVelocityMove() to JointModelGroup
  moveit_core/robot_model/include/moveit/robot_model/joint_model_group.h
  moveit_core/robot_model/src/joint_model_group.cpp
  moveit_core/robot_state/include/moveit/robot_state/robot_state.h
  moveit_core/robot_state/src/robot_state.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Switching to the Panda robot model for tests.
  moveit_experimental/jog_arm/test/arm_setup/config/fake_controllers.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/jog_settings.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/joint_limits.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/kinematics.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/ompl_planning.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/ros_controllers.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/sensors_3d.yaml
  moveit_experimental/jog_arm/test/arm_setup/config/six_dof_arm.rviz
  moveit_experimental/jog_arm/test/arm_setup/config/six_dof_arm.srdf
  moveit_experimental/jog_arm/test/arm_setup/launch/fake_moveit_controller_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/ompl_planning_pipeline.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/panda_move_group.launch
  moveit_experimental/jog_arm/test/arm_setup/launch/planning_context.launch
  moveit_experimental/jog_arm/test/arm_setup/launch/planning_pipeline.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/sensor_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/setup_assistant.launch
  moveit_experimental/jog_arm/test/arm_setup/launch/six_dof_arm_moveit_controller_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/six_dof_arm_moveit_sensor_manager.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/launch/trajectory_execution.launch.xml
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_base_link.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_1.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_2.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_3.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_4.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_5.stl
  moveit_experimental/jog_arm/test/arm_setup/meshes/robot_link_6.stl
  moveit_experimental/jog_arm/test/arm_setup/urdf/test_six_dof_arm.xacro
  moveit_experimental/jog_arm/test/arm_setup/urdf/test_six_dof_arm_macro.xacro
  moveit_experimental/jog_arm/test/launch/jog_arm_integration_test.launch
Owners: moveit_releasers@googlegroups.com

Fix alignment of Eigen transforms
  moveit_core/robot_state/src/robot_state.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com
