Repository moveit/moveit, changes with the owners that CODEOWNERS names for each.
All owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, gm130s@gmail.com, mathias.luedtke@ipa.fraunhofer.de, rhaschke@techfak.uni-bielefeld.de, imcmahon01@gmail.com, 130s@2000.jukuin.keio.ac.jp, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, jon.binney@gmail.com, chitt@live.in, raghavendersahdev@gmail.com

CODEOWNERS:

# This is a comment.
# Each line in this file is a file pattern followed by one or more
# @github_usernames and/or e-mail addresses corresponding to users with write
# permissions for the repository.
# https://help.github.com/en/articles/about-code-owners

# Order is important; the user(s) in the last matching pattern here for a file will
# be that file's owner(s).

# The users below will be the default owners for everything in the repository.
# Unless a line further in this file matches, all of the users here will be
# requested for review when someone opens a pull request.
*	dave@picknik.ai me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

# The lines below correspond to directories with a package.xml file and the
# maintainers specified in that file

/moveit_runtime/	gm130s@gmail.com

/moveit_plugins/moveit_plugins/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_ros_control_interface/	mathias.luedtke@ipa.fraunhofer.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_fake_controller_manager/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_simple_controller_manager/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_plugins/moveit_controller_manager_example/	me@v4hn.de moveit_releasers@googlegroups.com

/moveit_core/	dave@picknik.ai me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_commander/	me@v4hn.de rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit/	dave@picknik.ai mferguson@fetchrobotics.com me@v4hn.de rhaschke@techfak.uni-bielefeld.de imcmahon01@gmail.com 130s@2000.jukuin.keio.ac.jp

/moveit_kinematics/	dave@picknik.ai g.a.vanderhoorn@tudelft.nl jorge.nicho@swri.org moveit_releasers@googlegroups.com

/moveit_experimental/	moveit_releasers@googlegroups.com

/moveit_ros/perception/	mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/manipulation/	me@v4hn.de mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/benchmarks/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_ros/moveit_ros/	mferguson@fetchrobotics.com me@v4hn.de dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_ros/planning_interface/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/robot_interaction/	mferguson@fetchrobotics.com rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit_ros/planning/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/warehouse/	mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_ros/move_group/	mferguson@fetchrobotics.com me@v4hn.de moveit_releasers@googlegroups.com

/moveit_ros/visualization/	jon.binney@gmail.com mferguson@fetchrobotics.com moveit_releasers@googlegroups.com

/moveit_setup_assistant/	dave@picknik.ai rhaschke@techfak.uni-bielefeld.de moveit_releasers@googlegroups.com

/moveit_planners/ompl/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/moveit_planners/	dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_interface/	chitt@live.in dave@picknik.ai moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_optimizer_adapter/	raghavendersahdev@gmail.com moveit_releasers@googlegroups.com

/moveit_planners/chomp/chomp_motion_planner/	chitt@live.in moveit_releasers@googlegroups.com

Forgot to account for one halt message.
  moveit_experimental/jog_arm/test/integration/test_jog_arm_integration.py
Owners: moveit_releasers@googlegroups.com

Clean up linting errors.
  moveit_experimental/jog_arm/CMakeLists.txt
  moveit_experimental/jog_arm/test/integration/test_jog_arm_integration.py
  moveit_experimental/package.xml
Owners: moveit_releasers@googlegroups.com

More de-linting.
  moveit_experimental/package.xml
Owners: moveit_releasers@googlegroups.com

Even longer test timeouts.
  moveit_experimental/jog_arm/test/integration/test_jog_arm_integration.py
Owners: moveit_releasers@googlegroups.com

Delinting.
  moveit_experimental/CMakeLists.txt
  moveit_experimental/jog_arm/CMakeLists.txt
  moveit_experimental/package.xml
Owners: moveit_releasers@googlegroups.com

Blacklist the test as I can't get it to pass Travis (fine locally).
  .travis.yml
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Install FCL plugin XML
  moveit_core/collision_detection_fcl/CMakeLists.txt
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Reduce spurious unittest failures due to randomness (#1381)
  moveit_kinematics/test/test_kinematics_plugin.cpp
Owners: dave@picknik.ai, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, moveit_releasers@googlegroups.com

fix more warnings (#1380)
  .travis.yml
  moveit_kinematics/cached_ik_kinematics_plugin/include/moveit/cached_ik_kinematics_plugin/detail/GreedyKCenters.h
  moveit_kinematics/cached_ik_kinematics_plugin/src/ik_cache.cpp
  moveit_kinematics/cached_ik_kinematics_plugin/src/measure_ik_call_cost.cpp
  moveit_kinematics/ikfast_kinematics_plugin/templates/ikfast.h
  moveit_kinematics/kdl_kinematics_plugin/src/chainiksolver_vel_mimic_svd.cpp
  moveit_kinematics/test/test_kinematics_plugin.cpp
  moveit_planners/chomp/chomp_motion_planner/include/chomp_motion_planner/multivariate_gaussian.h
  moveit_planners/chomp/chomp_motion_planner/src/chomp_optimizer.cpp
  moveit_planners/ompl/ompl_interface/include/moveit/ompl_interface/detail/projection_evaluators.h
  moveit_planners/ompl/ompl_interface/include/moveit/ompl_interface/planning_context_manager.h
  moveit_planners/ompl/ompl_interface/src/detail/projection_evaluators.cpp
  moveit_plugins/moveit_simple_controller_manager/src/follow_joint_trajectory_controller_handle.cpp
  moveit_ros/manipulation/pick_place/include/moveit/pick_place/manipulation_plan.h
  moveit_ros/move_group/include/moveit/move_group/move_group_context.h
  moveit_ros/perception/mesh_filter/include/moveit/mesh_filter/filter_job.h
  moveit_ros/perception/mesh_filter/include/moveit/mesh_filter/gl_renderer.h
  moveit_ros/perception/mesh_filter/src/gl_renderer.cpp
  moveit_ros/perception/semantic_world/src/semantic_world.cpp
  moveit_ros/planning/planning_scene_monitor/include/moveit/planning_scene_monitor/planning_scene_monitor.h
  moveit_ros/robot_interaction/include/moveit/robot_interaction/interaction_handler.h
  moveit_ros/warehouse/warehouse/src/import_from_text.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, chitt@live.in, rhaschke@techfak.uni-bielefeld.de

use constexpr
  moveit_core/robot_state/src/robot_state.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Fix alignment of Eigen transforms (#1382)
  moveit_core/robot_state/src/robot_state.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

Fix alignment of Eigen transforms (#1382)
  moveit_core/robot_state/src/robot_state.cpp
Owners: dave@picknik.ai, me@v4hn.de, mferguson@fetchrobotics.com, moveit_releasers@googlegroups.com

changelog 1.0.1
  moveit/CHANGELOG.rst
  moveit_commander/CHANGELOG.rst
  moveit_core/CHANGELOG.rst
  moveit_experimental/CHANGELOG.rst
  moveit_kinematics/CHANGELOG.rst
  moveit_planners/chomp/chomp_interface/CHANGELOG.rst
  moveit_planners/chomp/chomp_motion_planner/CHANGELOG.rst
  moveit_planners/chomp/chomp_optimizer_adapter/CHANGELOG.rst
  moveit_planners/moveit_planners/CHANGELOG.rst
  moveit_planners/ompl/CHANGELOG.rst
  moveit_plugins/moveit_controller_manager_example/CHANGELOG.rst
  moveit_plugins/moveit_fake_controller_manager/CHANGELOG.rst
  moveit_plugins/moveit_plugins/CHANGELOG.rst
  moveit_plugins/moveit_ros_control_interface/CHANGELOG.rst
  moveit_plugins/moveit_simple_controller_manager/CHANGELOG.rst
  moveit_ros/benchmarks/CHANGELOG.rst
  moveit_ros/manipulation/CHANGELOG.rst
  moveit_ros/move_group/CHANGELOG.rst
  moveit_ros/moveit_ros/CHANGELOG.rst
  moveit_ros/perception/CHANGELOG.rst
  moveit_ros/planning/CHANGELOG.rst
  moveit_ros/planning_interface/CHANGELOG.rst
  moveit_ros/robot_interaction/CHANGELOG.rst
  moveit_ros/visualization/CHANGELOG.rst
  moveit_ros/warehouse/CHANGELOG.rst
  moveit_runtime/CHANGELOG.rst
  moveit_setup_assistant/CHANGELOG.rst
Owners: dave@picknik.ai, mferguson@fetchrobotics.com, me@v4hn.de, rhaschke@techfak.uni-bielefeld.de, imcmahon01@gmail.com, 130s@2000.jukuin.keio.ac.jp, moveit_releasers@googlegroups.com, g.a.vanderhoorn@tudelft.nl, jorge.nicho@swri.org, chitt@live.in, raghavendersahdev@gmail.com, mathias.luedtke@ipa.fraunhofer.de, jon.binney@gmail.com, gm130s@gmail.com
